<html>
	<head>
		<script src="https://s3.amazonaws.com/assets.heroku.com/boomerang/boomerang.js"></script>
		<script>
		  document.addEventListener("DOMContentLoaded", function() {
		    Boomerang.init({app: {{ .app }}, addon: {{ .addon }}});
		  });
		</script>
		<title>{{ .title }}</title>
	</head>
	<body>
		<h1>
			{{ .title }}
		</h1>
	</body>
</html>
